html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    overflow:hidden;
    height:2000px;
}

.login_main {
    width: 280px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 10px solid lightgrey;
    border-radius: 20px;
    margin-top:50px;
}

.login_logo {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size:50px;
}

.container {
    width:200px;
    position:relative;
    margin-bottom:20px;
    border-radius:5px;
    padding:10px;
    font-size:15px;
}

#login_button {
    width:100%;
    height:30px;
    background-color: #00FF7F;
    border-color: transparent;
    margin:1px;
    color: black;
    transition:0.3s;
}

#login_button:hover {
    background-color: #3CB371;
    color:white;
    transition:0.3s;
}

.account {
    width:188px;
    height:20px;
    display: block;
    margin-bottom: 8px;
    border: 1px solid lightgray;
    padding:5px;
    border-radius: 5px;
}

.other_login {
    margin-bottom:20px;
}

#google_icon {
    border : 3px solid lightgray;
    border-radius:10px;
    width:180px;
    height:30px;
    overflow:hidden;
}

.signup > a {
    font-size:15px;
    text-decoration: none;
}

.signup_main {
    position:absolute;
    top:1000px;
}

#signup_pos {
    position:absolute;
    top: 992px;
}

.signup_main {
    height:auto !important;
    padding-bottom:20px;
}
#signup_button {
    width:100%;
    height:30px;
    background-color: #00FF7F;
    border-color: transparent;
    margin:1px;
    color: black;
    transition:0.3s;
}

#signup_button:hover {
    background-color: #3CB371;
    color:white;
    transition:0.3s;
}

.dist_check_button {
    float:right;
    border-radius:20px;
    margin-bottom:10px;
    border:1px solid black;
    background:lightgray;
    color:black;
    transition:0.3s;
}

.dist_check_button:hover {
    background: #919191;
    color:white;
    transition:0.3s;
}