

body {
    overflow-x : hidden;
}

#main_page_container {
    min-width:100%;
    position:absolute;
    left:25%;
    top:0px;
}

.main_Content {
    width:100%;
    height:600px;
    text-align:center;
    padding:50px 300px 50px 300px;
    display: inline-block;

}

#team_direct_contents {
    padding-left:70px;
    padding-right:70px;
    margin-bottom:20px;
}

.formLink {
    width:200px;
    height:50px;
    display:inline-block;
    border: 5px solid black;
    border-radius: 100px;
    text-align:center;
    font-size:30px;
    font-weight:bold;
    margin:0px;
}

.formLink:hover {
    background: grey;
    color:black;
    transition:0.5s;
}

.main_content_box {
    width:45%;
    height:500px;
    display:flex;
    float:left;
    position:relative;
    flex-direction: column;
    margin:auto;
    vertical-align: top;

}

#team_select_contents {
    width:100%;
    height:100%;
    display:inline-block;
    border:5px solid black;
    border-radius:30px;
    padding: 20px 20px 15px 15px;
    overflow-x:scroll;
    -ms-overflow-style: none;
    scroll-snap-type: x mandatory;
    white-space:pre;
}
#team_select_contents > form {
    display:inline;
    width:50%;
    float:left;
    margin-bottom:20px;
}

#team_select_contents::-webkit-scrollbar {
    display:none;
}

#team_select_contents .submit_btn {
    min-width:150px;
    min-height:150px;
    border: 10px solid black;
    border-radius: 20px;
    margin-left:10px;
    margin-right:10px;

    background-color: white;
    color: black;
    transition:0.3s;
}

#team_select_contents .submit_btn:hover {
    background-color: grey;
    color:black;
    transition:0.3s;
}

#create_button{
    width:260px;
    height:170px;
    float:left;
}

.formLink > div {
    width:100%;
    height:100%;
    background-size:100%;
    border-radius: 20px;
    background-repeat:no-repeat;
    margin-top:20%;
}

#join_button{
    width:260px;
    height:170px;
    float:right;
}

#join_button > div {
    width:100%;
    height:100%;

    border-radius: 20px;
    background-repeat:no-repeat;
}

/*************
 * form css  *
 *************/

.team_content {
    width: 280px;
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 10px solid lightgrey;
    border-radius: 20px;
    position:relative;
    margin-top:80%;
}

.form_container {
    width:200px;
    position:relative;
    margin-bottom:0px;
    border-radius:5px;
    padding:10px;
    font-size:15px;
}

.submit_button {
    width:188px;
    height:30px;
    background-color: #00FF7F;
    border-color: transparent;
    margin:1px;
    color: black;
    transition:0.3s;
}

.submit_button:hover {
    background-color: #3CB371;
    color:white;
    transition:0.3s;
}

.form_logo {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size:30px;
}

.input_box {
    width:188px;
    height:30px;
    display: block;
    margin-bottom: 18px;

    border: 1px solid lightgray;
    padding:5px;
    border-radius: 5px;
}

.signup > a {
    font-size:15px;
    text-decoration: none;
}


/**********************
 * create team contents *
 **********************/
#createTeam_content {
    height:100%;
    left:0px;
    position:absolute;
    margin-top:20%;
}

/**********************
 * join team contents *
 **********************/

#joinTeam_content {
    height:100%;
    left:130%;
    position:absolute;
    margin-top:20%;
}